<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar_url</key>
		<string>http://v.huya.com/style/img/editor-avatar.gif</string>
		<key>nick_name</key>
		<string>暴走漫画</string>
		<key>video_commentNum</key>
		<string>1141</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1727/11327240/9-220x124.jpg</string>
		<key>video_duration</key>
		<string>27:04</string>
		<key>video_playNum</key>
		<string>15.3万</string>
		<key>video_title</key>
		<string>暴走大事件21：千万单身汪都在用的三分钟把妹攻略</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1727/11327240/1000/e53584bf47747341c6a597dbbc71e554.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1044/27/68a88571d67c81ba00ce13fe21e4ad_180_135.jpg</string>
		<key>nick_name</key>
		<string>虎视眈眈</string>
		<key>video_commentNum</key>
		<string>6712</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1727/11446912/9-220x124.jpg</string>
		<key>video_duration</key>
		<string>07:59</string>
		<key>video_playNum</key>
		<string>35.7万</string>
		<key>video_title</key>
		<string>爆炸时刻第五期：嗨氏化身虎纹鲨鱼！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1727/11446912/1000/0769fc744d34906151bffd170bf3a742.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1075/3f/4247f2902452857ece3222578c6aa3_180_135.jpg?1496352248</string>
		<key>nick_name</key>
		<string>周周五杀榜</string>
		<key>video_commentNum</key>
		<string>9713</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12609782/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:38</string>
		<key>video_playNum</key>
		<string>2.9万</string>
		<key>video_title</key>
		<string>王者荣耀周周五杀榜TOP5第45期：凯超神杀戮 五杀首秀</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12609782/1000/06817c7e9d8364c80efe5db0139d5582.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1006/7b/dc152dc57bb7fa4300bcef1ea1404e_180_135.jpg?0</string>
		<key>nick_name</key>
		<string>DK小触</string>
		<key>video_commentNum</key>
		<string>2509</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12538184/99-220x124.jpg?v=a0d434eefdfa595d2ae3910c19669d5e1500434722</string>
		<key>video_duration</key>
		<string>18:33</string>
		<key>video_playNum</key>
		<string>1.5万</string>
		<key>video_title</key>
		<string>『小触』王者荣耀 新英雄 凯 这英雄太厉害了，伤害简直爆炸！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12538184/1000/9b24afe052c1ec8c5d573432b364874f.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/15/81/200_200/5b09b09b10797461a19296a8e79311f6.jpg?t=1456134336</string>
		<key>nick_name</key>
		<string>主播真扯蛋</string>
		<key>video_commentNum</key>
		<string>9497</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12527828/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>03:31</string>
		<key>video_playNum</key>
		<string>1.2万</string>
		<key>video_title</key>
		<string>[王者荣耀]荣耀瞬间VOL45：哥特玫瑰的绽放</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12527828/1000/dbba8d1294aa7c0026d0b75774944783.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/14/61/200_200/d0feab88c84fc5e31b0494be16f070b8.jpg?t=1452670172</string>
		<key>nick_name</key>
		<string>小狮妹Plus</string>
		<key>video_commentNum</key>
		<string>3148</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12616628/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:06</string>
		<key>video_playNum</key>
		<string>2.9万</string>
		<key>video_title</key>
		<string>生死改装！沙漠中，他把坏掉的汽车爆改成摩托车死里逃生！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12616628/1000/b48c63c1d8bc4395d2ac7960f46b5ec7.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1098/96/7e5de138849243a631e17231e85046_180_135.jpg?1501223564</string>
		<key>nick_name</key>
		<string>阅后即瞎</string>
		<key>video_commentNum</key>
		<string>6708</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12560100/99-220x124.jpg?v=623acc95f965c73319b98a9f7cd3f1031500378230</string>
		<key>video_duration</key>
		<string>14:48</string>
		<key>video_playNum</key>
		<string>2.5万</string>
		<key>video_title</key>
		<string>【阅后即瞎】人类竟是地球上第三聪明的物种，你的智商拖后腿了吧</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12560100/1000/b0a58c59c4d4d8feef46ceeeeea415a2.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/16/82/200_200/b841455a8ec8c52bfc5df0b0bb061a1b.jpg?t=1483778229</string>
		<key>nick_name</key>
		<string>飞碟说</string>
		<key>video_commentNum</key>
		<string>1703</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12639702/99-220x124.jpg?v=8241f2c074f56de067ca690aa84247d91500447644</string>
		<key>video_duration</key>
		<string>01:31</string>
		<key>video_playNum</key>
		<string>1.5万</string>
		<key>video_title</key>
		<string>【飞碟一分钟】一个微笑背后不知藏着多少MMP</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12639702/1000/12f6792258410d17472ebfb568752f08.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1065/bd/df4a91211082e44321a0d0835d246a_180_135.jpg?1492198908</string>
		<key>nick_name</key>
		<string>虎牙搬运工</string>
		<key>video_commentNum</key>
		<string>1973</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12620472/99-220x124.jpg?v=36258ae0b14082338d3c5db5634822781500450588</string>
		<key>video_duration</key>
		<string>37:51</string>
		<key>video_playNum</key>
		<string>5641</string>
		<key>video_title</key>
		<string>DNF国服双剑魂2托6卢克R（SD光路线视角）</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12620472/1000/a72a2a65dbd37e6a924c3f0cae9c4283.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/50/00/200_200/80fc740a0929593483ab588585d50a60.jpg?t=1439362567</string>
		<key>nick_name</key>
		<string>Eiji</string>
		<key>video_commentNum</key>
		<string>8125</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12620242/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>29:54</string>
		<key>video_playNum</key>
		<string>4302</string>
		<key>video_title</key>
		<string>DNF国服双剑魂27分10秒2拖6卢克R（eiji暗路线视角）</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12620242/1000/6233dc41b6ac7c13149f56de8b07a666.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1048/9f/854ac289c65b08a6860b628fa7fbf7_180_135.jpg?1497000533</string>
		<key>nick_name</key>
		<string>一起搞事情</string>
		<key>video_commentNum</key>
		<string>6925</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12552444/99-220x124.jpg?v=f06ea03023a1796eac8a865166a4398a1500458160</string>
		<key>video_duration</key>
		<string>05:03</string>
		<key>video_playNum</key>
		<string>1439</string>
		<key>video_title</key>
		<string>天御修罗3分53暴走1-4</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12552444/1000/39eae0168ba63fd62225fd1f56de379b.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1072/b4/f255080d812b66591d144832a5b299_180_135.jpg?1497000376</string>
		<key>nick_name</key>
		<string>丶如我西沉丶</string>
		<key>video_commentNum</key>
		<string>9067</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12551256/99-220x124.jpg?v=bdd484c40278d98ba58d050798741c8e1500459494</string>
		<key>video_duration</key>
		<string>02:56</string>
		<key>video_playNum</key>
		<string>5164</string>
		<key>video_title</key>
		<string>dnf兰总套柔道过擎天</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12551256/1000/5f6fb891e8f51937a875b37569853f53.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1020/58/3f3745f272987601178d0bbc19887d_180_135.jpg?1497000473</string>
		<key>nick_name</key>
		<string>又一个完了</string>
		<key>video_commentNum</key>
		<string>4547</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12551760/99-220x124.jpg?v=ded85a24db5f5f348c7a98402828f50b1500435112</string>
		<key>video_duration</key>
		<string>01:55</string>
		<key>video_playNum</key>
		<string>2006</string>
		<key>video_title</key>
		<string>磁..磁力弹又空了 女机械81秒湮灭之圣所。</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12551760/1000/a8f1eb81253310437b18d2872fab52af.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1072/b4/f255080d812b66591d144832a5b299_180_135.jpg?1497000376</string>
		<key>nick_name</key>
		<string>丶如我西沉丶</string>
		<key>video_commentNum</key>
		<string>1140</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12551244/4-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:31</string>
		<key>video_playNum</key>
		<string>2.2万</string>
		<key>video_title</key>
		<string>小伙把金属液注入鸡蛋中_然后用液氮速冻打开后整个人都懵逼了</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12551244/1000/7222095ea9922b9824e334e61bf8b90e.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.msstatic.com/avatar/1078/09/863a2e546d9ebaec27d752eeb6f722_180_135.jpg?1477807760</string>
		<key>nick_name</key>
		<string>橙音-MoMo</string>
		<key>video_commentNum</key>
		<string>1948</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12517988/99-220x124.jpg?v=4e8adda9495a3ff729db00fe270fc5b01500348704</string>
		<key>video_duration</key>
		<string>01:05</string>
		<key>video_playNum</key>
		<string>2.9万</string>
		<key>video_title</key>
		<string>主播MOMO与表情包共舞，有点皮</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12517988/1000/562116e44d5fe38bfc906c76f128c01c.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1098/68/e583e355bd05338931ce7c51dfbbf9_180_135.jpg?1500344533</string>
		<key>nick_name</key>
		<string>感觉是废了</string>
		<key>video_commentNum</key>
		<string>6190</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12549530/99-220x124.jpg?v=6926356226ce6984eeb9dc32f89a606c1500377218</string>
		<key>video_duration</key>
		<string>13:52</string>
		<key>video_playNum</key>
		<string>2658</string>
		<key>video_title</key>
		<string>一款不容错过的微型单机游戏 雷巴的冒险</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12549530/1000/c67a1a28d0b0ca817e26758dc28402b6.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1048/9f/854ac289c65b08a6860b628fa7fbf7_180_135.jpg?1497000533</string>
		<key>nick_name</key>
		<string>一起搞事情</string>
		<key>video_commentNum</key>
		<string>7246</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12539778/99-220x124.jpg?v=49a43eaaca24d4c0492859f84dfe456e1500363484</string>
		<key>video_duration</key>
		<string>03:39</string>
		<key>video_playNum</key>
		<string>3114</string>
		<key>video_title</key>
		<string>不只是貌美如花！DNF国服剑帝3技能瞬斩光卢克</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12539778/1000/319719bdb1f96f254fbbb24d50d3b20c.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1093/30/bd6a534508ed6d01669d293a20dead_180_135.jpg?1500373714</string>
		<key>nick_name</key>
		<string>砖王我是当定了</string>
		<key>video_commentNum</key>
		<string>6075</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12548824/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>22:53</string>
		<key>video_playNum</key>
		<string>1612</string>
		<key>video_title</key>
		<string>【dnf】全力全开 圣物散搭剑魂20分击破卢克N1-6</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12548824/1000/06cd8e874174ae484dfcb3675e0d2558.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1090/d5/6a65a6978501ba3519943d689c49db_180_135.jpg?0</string>
		<key>nick_name</key>
		<string>【ＡＳ】棉  花-Q群2126</string>
		<key>video_commentNum</key>
		<string>1230</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12501446/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>10:05</string>
		<key>video_playNum</key>
		<string>1298</string>
		<key>video_title</key>
		<string>兰总6武极三保强杀RAID火山</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12501446/1000/25b6273cfaa3e3026d5bf66ea72bd661.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1023/d2/8194b1b3dcb4d74a7bf7cdfffc2296_180_135.jpg?1497337283</string>
		<key>nick_name</key>
		<string>Fire。</string>
		<key>video_commentNum</key>
		<string>1268</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12537338/99-220x124.jpg?v=68fe1b2d13fae0519217044d359460d41500361094</string>
		<key>video_duration</key>
		<string>01:47</string>
		<key>video_playNum</key>
		<string>1.6万</string>
		<key>video_title</key>
		<string>【波澜哥】【高音哥】上海滩</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12537338/1000/7f47260ba5434759d8e86472e3a37259.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://v.huya.com/style/img/editor-avatar.gif</string>
		<key>nick_name</key>
		<string>柚子木字幕组</string>
		<key>video_commentNum</key>
		<string>7501</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12538578/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>03:02</string>
		<key>video_playNum</key>
		<string>1.2万</string>
		<key>video_title</key>
		<string>【科技壕】巨型放大镜聚焦iPhone 6S会有什么有趣的现象</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12538578/1000/4792f17954f1e7bff96b92e4db624f06.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/15/46/200_200/1533abfaea4e4dde65cf7b56b803f40e.jpg?t=1474522521</string>
		<key>nick_name</key>
		<string>何仙姑夫</string>
		<key>video_commentNum</key>
		<string>4791</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12444586/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:27</string>
		<key>video_playNum</key>
		<string>3.1万</string>
		<key>video_title</key>
		<string>王者荣耀版《浮夸》太魔性 陈奕迅听了也要单曲循环啊！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12444586/1000/5a187758ed9490d2dd78e0c7351c860d.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/10/65/200_200/7bb185538bc9fb85ec1aa78df66c0705.jpg?t=1465615074</string>
		<key>nick_name</key>
		<string>敬汉卿</string>
		<key>video_commentNum</key>
		<string>4187</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12510436/5-220x124.jpg</string>
		<key>video_duration</key>
		<string>03:43</string>
		<key>video_playNum</key>
		<string>10.5万</string>
		<key>video_title</key>
		<string>【不作会死】空调里流出来的冷凝水是什么味道！喝了会有不良反应</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12510436/1000/130d3d75d32dfa4bf7ab1e8f2d7ebf0e.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/15/70/200_200/5e2c5f3c16f3ec75cb427231c785f761.jpg?t=1490112175</string>
		<key>nick_name</key>
		<string>油兔不二字幕组</string>
		<key>video_commentNum</key>
		<string>6427</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12486566/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>04:22</string>
		<key>video_playNum</key>
		<string>7817</string>
		<key>video_title</key>
		<string>【探索求真】拖个冰山回家</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12486566/1000/6c4a56ff407e88a2513ebeac6a97bf18.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/33/21/200_200/39b73d665d7ebef392187ba89ccff165.jpg?t=1495618666</string>
		<key>nick_name</key>
		<string>失控的萝莉控</string>
		<key>video_commentNum</key>
		<string>1308</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12523510/99-220x124.jpg?v=3019102d0fc96b4aeb8cb86cb02006ed1500353412</string>
		<key>video_duration</key>
		<string>17:37</string>
		<key>video_playNum</key>
		<string>12.4万</string>
		<key>video_title</key>
		<string>【JK制服】一见倾心（第十一期）</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12523510/1000/ec863d6a8c84db5bfe488c6ba53e8931.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/14/61/200_200/d0feab88c84fc5e31b0494be16f070b8.jpg?t=1452670172</string>
		<key>nick_name</key>
		<string>小狮妹Plus</string>
		<key>video_commentNum</key>
		<string>8015</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12516110/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:04</string>
		<key>video_playNum</key>
		<string>1.0万</string>
		<key>video_title</key>
		<string>89岁老爷爷在自家后院造火车？节能环保跑得快！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12516110/1000/852c7a27f1d0df86874b86bea826ed3f.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/15/77/200_200/c2883665c3b4e81cad0dd87c8a4d64d3.jpg?t=1468572414</string>
		<key>nick_name</key>
		<string>橙果医生</string>
		<key>video_commentNum</key>
		<string>2924</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12546850/99-220x124.jpg?v=2a2bd521e63b0d9623d4bcea6e8fee871500376673</string>
		<key>video_duration</key>
		<string>01:48</string>
		<key>video_playNum</key>
		<string>3.4万</string>
		<key>video_title</key>
		<string>成年人一天小便多少次属于正常？</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12546850/1000/117d92f88760a96cd7f8b0d615b5f424.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/15/70/200_200/5e2c5f3c16f3ec75cb427231c785f761.jpg?t=1490112175</string>
		<key>nick_name</key>
		<string>油兔不二字幕组</string>
		<key>video_commentNum</key>
		<string>7607</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12378356/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>04:49</string>
		<key>video_playNum</key>
		<string>1.3万</string>
		<key>video_title</key>
		<string>【科学组二人花】色彩小爆炸~蓝精灵村的神奇药水</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12378356/1000/80f7898d270e3c91703eb1e24036ba03.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/14/61/200_200/d0feab88c84fc5e31b0494be16f070b8.jpg?t=1452670172</string>
		<key>nick_name</key>
		<string>小狮妹Plus</string>
		<key>video_commentNum</key>
		<string>7303</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12407336/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:04</string>
		<key>video_playNum</key>
		<string>2.7万</string>
		<key>video_title</key>
		<string>美女大杀器！土豪把台球桌装到了小汽车上，还能时速160公里！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12407336/1000/9c4e72b27f32201e9aafdb001d543330.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/36/30/200_200/80a53fe3692730616a675582c568056d.jpg?t=1476869823</string>
		<key>nick_name</key>
		<string>花落</string>
		<key>video_commentNum</key>
		<string>7452</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12412010/99-220x124.jpg?v=c162db3e47c715e58a1ce5382a7b922f1500288095</string>
		<key>video_duration</key>
		<string>15:33</string>
		<key>video_playNum</key>
		<string>4869</string>
		<key>video_title</key>
		<string>（花落解说）王者荣耀-虞姬大神教学，ADC开启收割模式</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12412010/1000/c2d4fe03bd00260eefd3f4b76419a68c.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1075/3f/4247f2902452857ece3222578c6aa3_180_135.jpg?1496352248</string>
		<key>nick_name</key>
		<string>周周五杀榜</string>
		<key>video_commentNum</key>
		<string>3184</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1729/12403092/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:50</string>
		<key>video_playNum</key>
		<string>1.1万</string>
		<key>video_title</key>
		<string>王者荣耀周周五杀榜第44期：鬼谷子五杀首秀 震撼全场</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1729/12403092/1000/368a204e631492f5c286b6782ba4a0ec.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1062/8f/0739a4f48f00bed61251fa879f37de_180_135.jpg?1500878532</string>
		<key>nick_name</key>
		<string>唬殺旁人</string>
		<key>video_commentNum</key>
		<string>7259</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12168780/99-220x124.jpg?v=c8c7537b922ab83032500db2bd583e261500106874</string>
		<key>video_duration</key>
		<string>06:34</string>
		<key>video_playNum</key>
		<string>1.1万</string>
		<key>video_title</key>
		<string>[唬殺]球球大作战合集 单刷最佳时刻及疯狂又愚蠢的送球瞬间？！！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12168780/1000/b89b426edd6d65943ebdd67d6b2bf460.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1065/bd/df4a91211082e44321a0d0835d246a_180_135.jpg?1492198908</string>
		<key>nick_name</key>
		<string>虎牙搬运工</string>
		<key>video_commentNum</key>
		<string>4177</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12344856/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>03:59</string>
		<key>video_playNum</key>
		<string>8143</string>
		<key>video_title</key>
		<string>DNF国服剑魂单奶一觉百亿秒杀暗卢克</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12344856/1000/33e866a75dd74d90bd52104088d737d2.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1072/b4/f255080d812b66591d144832a5b299_180_135.jpg?1497000376</string>
		<key>nick_name</key>
		<string>丶如我西沉丶</string>
		<key>video_commentNum</key>
		<string>2797</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12357264/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>11:54</string>
		<key>video_playNum</key>
		<string>1118</string>
		<key>video_title</key>
		<string>【星堕】漫游天下第一！漫游闯勇士试炼</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12357264/1000/a86cb2b16fd0edeb7270fdd55f10961e.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/33/63/200_200/f2a69874e1de35e095dbc5c86ec6a0f6.jpg?t=1469141339</string>
		<key>nick_name</key>
		<string>一个萝莉控、</string>
		<key>video_commentNum</key>
		<string>5312</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12350622/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>29:54</string>
		<key>video_playNum</key>
		<string>4677</string>
		<key>video_title</key>
		<string>卡收招懂吗，双刺客2拖首战卢克RAID（无卡药）</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12350622/1000/9ff1c47fb26ac7be933f3dacf134f21e.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1091/76/44d431d290c4032f11178a8db5af03_180_135.jpg?1496545663</string>
		<key>nick_name</key>
		<string>Sky_20B1</string>
		<key>video_commentNum</key>
		<string>375</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12321700/99-220x124.jpg?v=f3f1dbd02320b46ea76c8e88206e60c91500261975</string>
		<key>video_duration</key>
		<string>03:28</string>
		<key>video_playNum</key>
		<string>3343</string>
		<key>video_title</key>
		<string>【球球大作战小技巧】大逃杀· 红刺boomboomboom</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12321700/1000/b67cc5ee3ce3f2c8f487f726d89518fe.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/41/89/200_200/f5d2593ad72ed4537927d199250a70b7.jpg?t=1445928891</string>
		<key>nick_name</key>
		<string>最强攻略清风</string>
		<key>video_commentNum</key>
		<string>9789</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12027306/99-220x124.jpg?v=29c61e38ec95832ee969f2168eac6c2d1500018331</string>
		<key>video_duration</key>
		<string>09:28</string>
		<key>video_playNum</key>
		<string>7031</string>
		<key>video_title</key>
		<string>【清风驾校】第二期：十步杀一人，千里不留行之阿珂</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12027306/1000/9cb4acdda461a678fe45afaf2cea6358.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://image.yy.com/ojiasnsimage/71011830550b4d732a7622a271f0d6fa_len44815.jpg</string>
		<key>nick_name</key>
		<string>阿斗归来了</string>
		<key>video_commentNum</key>
		<string>7054</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/12028588/99-220x124.jpg?v=c9d97e22d75b6fa4de029e8c1e2a8bba1499940860</string>
		<key>video_duration</key>
		<string>05:59</string>
		<key>video_playNum</key>
		<string>1.9万</string>
		<key>video_title</key>
		<string>【阿斗】转基因科幻猪的坎坷遭遇，阿斗带你看美韩合拍电影《玉子》</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/12028588/1000/27dbbdf00ca1f3274ccbce9bcbe66636.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1020/58/3f3745f272987601178d0bbc19887d_180_135.jpg?1497000473</string>
		<key>nick_name</key>
		<string>又一个完了</string>
		<key>video_commentNum</key>
		<string>5674</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/11925380/1-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:11</string>
		<key>video_playNum</key>
		<string>1.9万</string>
		<key>video_title</key>
		<string>《爱情公寓番外篇》爱情公寓版美女曹操，看娄艺潇如何令陈赫大惊失色</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/11925380/1000/85d7f89ea3fe62c3d36c2ef96d05f025.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/10/65/200_200/7bb185538bc9fb85ec1aa78df66c0705.jpg?t=1465615074</string>
		<key>nick_name</key>
		<string>敬汉卿</string>
		<key>video_commentNum</key>
		<string>548</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/11926956/2-220x124.jpg</string>
		<key>video_duration</key>
		<string>03:26</string>
		<key>video_playNum</key>
		<string>9.5万</string>
		<key>video_title</key>
		<string>鸵鸟蛋生吃是什么味道！味道真的腥得你想吐</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/11926956/1000/b83b448b0b196aa681ab6282ff70aec5.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/15/70/200_200/5e2c5f3c16f3ec75cb427231c785f761.jpg?t=1490112175</string>
		<key>nick_name</key>
		<string>油兔不二字幕组</string>
		<key>video_commentNum</key>
		<string>5442</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/11942316/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>04:18</string>
		<key>video_playNum</key>
		<string>1.1万</string>
		<key>video_title</key>
		<string>【探索求真】移植人！中国医学的突破还是疯狂？</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/11942316/1000/3aadc5493ace59636ca56acd3f26db8e.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1057/91/53eb9e04498f9e953dbf96d802fa2c_180_135.jpg?1498189579</string>
		<key>nick_name</key>
		<string>伪青年小海</string>
		<key>video_commentNum</key>
		<string>5772</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/11943854/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>03:58</string>
		<key>video_playNum</key>
		<string>1.6万</string>
		<key>video_title</key>
		<string>科幻恐怖电影《异形契约》一颗未被探索的星球上发生的危险之旅</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/11943854/1000/5d168f6fc6b880335d522888ac8e0079.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/14/61/200_200/d0feab88c84fc5e31b0494be16f070b8.jpg?t=1452670172</string>
		<key>nick_name</key>
		<string>小狮妹Plus</string>
		<key>video_commentNum</key>
		<string>6987</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/11993188/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>02:00</string>
		<key>video_playNum</key>
		<string>2.0万</string>
		<key>video_title</key>
		<string>教练我想打台球！这样的台球，规则已经不重要了！</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/11993188/1000/aa004824fc00d6138cd5acc7a91c916d.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://s1.dwstatic.com/vhuya/avatar/15/81/200_200/5b09b09b10797461a19296a8e79311f6.jpg?t=1456134336</string>
		<key>nick_name</key>
		<string>主播真扯蛋</string>
		<key>video_commentNum</key>
		<string>7668</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/11929690/99-220x124.jpg</string>
		<key>video_duration</key>
		<string>03:39</string>
		<key>video_playNum</key>
		<string>5468</string>
		<key>video_title</key>
		<string>[王者荣耀]荣耀瞬间VOL44：马可波罗千里追杀血洗峡谷</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/11929690/1000/2fc63f7e41be9f9a2bca84983af7bed5.mp4</string>
	</dict>
	<dict>
		<key>avatar_url</key>
		<string>http://huyaimg.dwstatic.com/avatar/1048/9f/854ac289c65b08a6860b628fa7fbf7_180_135.jpg?1497000533</string>
		<key>nick_name</key>
		<string>一起搞事情</string>
		<key>video_commentNum</key>
		<string>5187</string>
		<key>video_cover</key>
		<string>http://v-huya-img.huya.com/1728/11778848/99-220x124.jpg?v=fbc4348821aefdb87933f23d2afa42ba1499743608</string>
		<key>video_duration</key>
		<string>02:58</string>
		<key>video_playNum</key>
		<string>7460</string>
		<key>video_title</key>
		<string>球球大作战精彩一周秀第二期：在我面前你还想跑？</string>
		<key>video_url</key>
		<string>http://huya-w10.huya.com/1728/11778848/1000/b4307554c6f7697d8c38e76c633a4f63.mp4</string>
	</dict>
</array>
</plist>
